<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
</head>
<body>
    <h1>Chi tiết sản phẩm</h1>
    <p>Sản phẩm đã được giảm giá 10%</p>
    <ul>
        <li>**Tên sản phẩm:** <span th:text="${product.name}"></span></li>
        <li>**Giá mới:** <span th:text="${product.price}"></span></li>
        <li>**Mô tả:** <span th:text="${product.description}"></span></li>
    </ul>
    <a href="/products/list">Quay lại danh sách sản phẩm</a>
</body>
</html>